#control-container {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#control-container > * {
    display: inline-block;
}

#fpc-input {
    margin: 2px;
    margin-left: 20px;
    width: 80px;
}

#export-profits {
    margin-top: 20px;
}