body {
  padding-top: 73px;
  /*background-color: red;*/
}

#slider {
    margin: auto;
    margin-top: 40px;
    height: 180px;
}

#slider-container {
    float: right;
    width: 30%;
    height: 100%;
    padding-top: 10px
}

#slider-val {
    margin: auto;
    width: 50px;
    display: block;
}

#buttons-container {
  text-align: center;
  float: left;
  width: 70%;
  height: 100%;
  padding: 10px;
}

#graph-controls {
    margin-top: 20px;
}

#data-container {
    margin: auto;
    width: 85%;
    height: 100%;
    margin-top: 0px;
    border: 1px solid transparent;
}

.status-table {
    margin-top: 20px;
    height: 60%;
    border-radius: 10px;
    background-color: white;
    overflow: auto;
    border: 1px solid green;
}

.status-display {
    margin-top: 15px;
}

.data-heading {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.ui-slider-handle {
    background-image: url(http://www.irs.gov/image/money_icon.gif);
    width: 45px;
    height: 33px;
}

.speed-label {
  color:orange;
  font-size: 24px;
}

.state-label {
  color:blue;
  font-size: 24px;
}

.spread-label {
  color:red;
  font-size: 24px;
}

.ui-container{
    margin-bottom:60px;
}

.top-left-screen{
  background-color: rgb(230, 230, 230);
}

.top-right-screen{
  background-color: rgb(230, 230, 230);
}

.bottom-left-screen{
  background-color: rgb(230, 230, 230);
}

.bottom-right-screen{
  background-color: rgb(230, 230, 230);
}

.screen-wrapper{
  height:320px;
}

.screen{
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  border-radius: 10px;
  width:100%;
  height:100%;
}

.button-container-state{
  margin-top:20px;
  border-radius: 10px;
  border:1px solid blue;
  padding:10px;
  display: inline-block;
}

.button-container-speed{
  margin-top:50px;
  border-radius: 10px;
  border:1px solid orange;
  padding:10px;
  display: inline-block;
}

.button-container-spread{
  border-radius: 10px;
  border:1px solid red;
  padding:10px;
  display: inline-block;
}

.state-selected{
  color:white;
  border: 2px solid black;
  background-color: blue;
}

.state-not-selected{
  color:white;
  border: 2px solid gray;
  background-color: gray;
}

.row{
   padding:0px;
   margin:0px;
}

[class*="col-"]{
  padding: 0px;
  margin: 0px;
}