body {
  padding-top: 73px;
  /*background-color: red;*/
}

#slider {
    margin: auto;
    margin-top: 40px;
    height: 200px;
}

#slider-container {
    float: right;
    width: 50px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: gray;
}

#slider-val {
    margin: auto;
    width: 30px;
    display: block;
}

#button-container {
    float: left;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: gray;
}

.action-button {
    display: block;
    margin: auto;
    margin-top: 50px;
}

.row{
   padding:0px;
   margin:0px;
}

[class*="col-"]{
  padding: 0px;
  margin: 0px;
}

.marketGraph{
   background-color: rgb(230,230,230);
}

.priceAxisBox{
   fill: rgb(200,200,200);
}

/*Style for the lines that visualize incrimental levels of the price axis*/
.priceGridLine{
   stroke:rgb(200,200,200);
   stroke-width:1;
}

.priceGridLineText{
   fill: rgb(150,150,150);
   font-size: 10px;
}

.timeGridLineText{
   fill: rgb(150,150,150);
   font-size: 10px;
}

.timeGridLight{
   fill: rgb(230, 230, 230);
}

.timeGridDark{
   fill: rgb(215, 215, 215);
}
