body {
    padding-top: 73px;
    /*background-color: red;*/
}
.zoom-in, .zoom-out {
    cursor: pointer;
    position: absolute;
    right: 40px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    font-weight: bold;
    -webkit-user-select: none
}

.zoom-in {
    top: 20px;
    line-height: 18px;
}

.zoom-out {
    top: 45px;
    line-height: 17px;
}

.zoom-disabled {
    pointer-events: none;
    cursor: default;
    background-color: lightgray;
}

#slider {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 180px;
}

.ui-slider {
    border-radius: 0;
}

.ui-slider .ui-slider-handle {
    display: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 0;
    border-radius: 0;
    background: none;
    background-color: rgb(26, 73, 232);
}

.slider-spread-indicators {
    position: absolute;
    z-index: 1;
    right: -5px;
    bottom: 0;
    border-top: 2px solid black;
    width: 10px;
}

#slider-container {
    float: right;
    width: 30%;
    height: 100%;
    padding-top: 10px
}

#slider-val {
    margin: auto;
    width: 50px;
    display: block;
}

#buttons-container {
    text-align: center;
    float: left;
    width: 70%;
    height: 100%;
    padding: 10px;
}

#graph-controls {
    margin-top: 20px;
}

#data-container {
    margin: auto;
    width: 85%;
    height: 100%;
    margin-top: 0px;
    border: 1px solid transparent;
}

.status-table {
    margin-top: 20px;
    height: 60%;
    background-color: white;
    /*overflow: auto;*/
    border: 1px solid rgb(200, 200, 200);
}

/*styles for table state indication entries
  capital is to make it work better with ng-style*/
.state-label-Snipe {
    background-color: rgba(200, 79, 34, .5);
}

.state-label-Maker {
    background-color: rgba(26, 73, 232, .5);
}

.state-label-Out {
    background-color: rgba(110, 110, 110, .5);
}

.status-display {
    margin-top: 15px;
}

.data-heading {
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

.speed-label {
    font-size: 24px;
    margin-bottom: 5px;
}

.state-label {
    font-size: 24px;
}

.spread-label {
    font-size: 24px;
}

.ui-container {
    margin-bottom: 60px;
}

.top-left-screen {
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.top-right-screen {
    margin-left: 25px;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.bottom-left-screen {
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.bottom-right-screen {
    margin-left: 25px;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.screen-wrapper {
    height: 450px;
    margin: 40px;
}

.screen {
    width: 100%;
    height: 100%;
}

.button-container-state {
    margin-top: 20px;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    display: inline-block;
}

.button-container-speed {
    margin-top: 50px;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    display: inline-block;
}

.button-container-spread {
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    display: inline-block;
}

.state-selected {
    color: white;
    border: 2px solid black;
}

#state_out.state-selected {
    background-color: rgb(110, 110, 110);
}

#state_snipe.state-selected {
    background-color: rgb(200, 79, 34);
}

#state_maker.state-selected {
    background-color: rgb(26, 73, 232);
}

.state-not-selected {
    color: white;
    border: 2px solid gray;
    background-color: gray;
}

.row {
    padding: 0px;
    margin: 0px;
}

[class*="col-"] {
    padding: 0px;
    margin: 0px;
}

/*material switch css*/
/*stolen from http://bootsnipp.com/snippets/featured/material-design-switch*/

.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    text-align: left;
    /*switch color*/
    background-color: green;
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.material-switch > input[disabled] + label {
    cursor: not-allowed;
}